@media screen and (max-width: 600px) {
    .card-login{
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 800px) {
    .card-login{
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1199px) {
  

}

@media screen and (max-width: 992px) {
  
    

}